/*Preloader*/

@import url("../plugins/angular-loading-bar/loading-bar.css");
.preloader-body {
    opacity: 0;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.preloader {
    height: 128px;
    width: 128px;
    background-color: #353c48;
    border-radius: 50%;
    position: fixed;
    z-index: 99999;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 1px solid #fb9678;
    border-top: 1px solid transparent;
    border-radius: 100%;
}

.preloader>.icon {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes wink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Dropdown*/

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

@keyframes fa-blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

.fa-blink {
    -webkit-animation: fa-blink 1s linear infinite;
    -moz-animation: fa-blink 1s linear infinite;
    -ms-animation: fa-blink 1s linear infinite;
    -o-animation: fa-blink 1s linear infinite;
    animation: fa-blink 1s linear infinite;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
