<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Home Page</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<button class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm">
				Role:{{homeData.role}}
			</button>
			<ol class="breadcrumb">
				<li class="active">Home</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="white-box">
				<h3 class="box-title">Blocked / Registered</h3>
				<ul class="list-inline two-part">
					<li><i class="fa fa-user text-danger"></i></li>
					<li class="text-right">
						<span>{{usersData.blocked}} / {{usersData.users.length}}</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="white-box">
				<h3 class="box-title">Containers</h3>
				<ul class="list-inline two-part">
					<li><i class="fa fa-server text-danger"></i></li>
					<li class="text-right"><span ng-bind="usersData.containers"></span></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="white-box">
				<h3 class="box-title">Databases</h3>
				<ul class="list-inline two-part">
					<li><i class="fa fa-database text-danger"></i></li>
					<li class="text-right"><span ng-bind="usersData.databases"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<h2 class="text-center" ng-show="!usersData.users.length">Not enough data</h2>
		<div class="row" ng-show="homeData.users.length">
			<div class="col-md-6 col-xs-12">
				<div class="form-group">
					<label>Search</label>
					<input type="text" ng-model="search" class="form-control" placeholder="Search">
				</div>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="form-group">
					<label>Filter (5 - 100)</label>
					<input type="number" min="5" max="100" ng-model="pageSize" class="form-control" placeholder="Search">
				</div>
			</div>
		</div>
		<table class="table table-hover margin bottom" ng-show="usersData.users.length">
			<thead>
				<tr>
					<th>#</th>
					<th>Email</th>
					<th>Verified</th>
					<th>Block / Unblock</th>
					<th>Container's</th>
					<th>DB's</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="x in usersData.users | filter: search | itemsPerPage: pageSize" current-page="homeCurrentPage">
					<td>{{ x.no+1 }}</td>
					<td>{{ x.email }}</td>
					<td>
						<button type="button" class="btn btn-circle" ng-class="{'btn-success': x.conf.verified == 'true', 'btn-warning': x.conf.verified != 'true'}">
							<i class="fa" ng-class="{'fa-check': x.conf.verified == 'true', 'fa-close': x.conf.verified != 'true'}"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-circle btn-info" ng-click="blockUser(x._id)" ng-show="!x.conf.block">
							<i class="fa fa-user-times" data-toggle="tooltip" title="Block!"></i>
						</button>
						<button type="button" class="btn btn-circle btn-danger" ng-click="unBlockUser(x._id)" ng-show="x.conf.block">
							<i class="fa fa-user-plus" data-toggle="tooltip" title="Unblock!"></i>
						</button>
					</td>
					<td>{{ x.containers + ' / ' + x.conf.limit.containers }}</td>
					<td>{{ x.databases + ' / ' + x.conf.limit.databases }}</td>
					<td>
						<a ui-sref="dashboard.user({userId:x._id})">
							<button type="button" class="btn btn-circle btn-info">
								<i class="fa fa-eye"></i>
							</button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pull-right">
			<dir-pagination-controls on-page-change="updatePage(newPageNumber)" boundary-links="true" template-url="./plugins/pagination/dirPagination.tpl.html"></dir-pagination-controls>
		</div>
	</div>
</div>