<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Team: {{teamData.name}} </h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a ui-sref="dashboard.teams" class="active">Teams</a></li>
				<li class="active">Team</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<div class="panel panel-inverse">
				<div class="panel-heading text-center">Servers</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="table-responsive" ng-show="teamData.added.length">
							<table class="table color-table">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>IP:Port</th>
										<th>OS</th>
										<th>Crons</th>
										<th>SS</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="x in teamData.added">
										<td>{{$index + 1}}</td>
										<td ng-bind="x.name"></td>
										<td>{{x.ip}}:{{x.port}}</td>
										<td ng-bind="x.os"></td>
										<td ng-bind="x.crons"></td>
										<td ng-bind="x.ss"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2 class="text-center" ng-show="!teamData.added.length">No Server's created</h2>
					</div>
				</div>
			</div>
			<div class="panel panel-inverse">
				<div class="panel-heading text-center">Members</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="table-responsive" ng-show="teamData.members.length">
							<table class="table color-table">
								<thead>
									<tr>
										<th>#</th>
										<th>Email</th>
										<th>Role</th>
										<th>View</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="x in teamData.members">
										<td>{{$index + 1}}</td>
										<td ng-bind="x.email"></td>
										<td>{{x.role==1 ? 'admin' : 'user'}}</td>
										<td><a ui-sref="dashboard.user({uId:x._id})"><button type="button" class="btn btn-circle btn-info"><i class="fa fa-eye"></i></button></a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2 class="text-center" ng-show="!teamData.members.length">No Member's yet</h2>
					</div>
				</div>
			</div>
			<div class="panel panel-inverse text-center">
				<div class="panel-heading">Manage</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<a href="javascript:void(0)" ng-click="delTeam()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-close fa-2x"></i></h3>
									<h3 class="text-danger">Delete</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-show="teamData.block">
							<a href="javascript:void(0)" ng-click="unBlockTeam()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-user-plus fa-2x"></i></h3>
									<h3 class="text-danger">Unblock</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-show="!teamData.block">
							<a href="javascript:void(0)" ng-click="blockTeam()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-user-times fa-2x"></i></h3>
									<h3 class="text-danger">Block</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<a ui-sref="dashboard.teamActivity({tId:tId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-list fa-2x"></i></h3>
									<h3 class="text-danger">Activity</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="panel panel-inverse">
				<div class="panel-heading text-center">Team Info</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<table class="table table-borderless server-info" style="font-size: 1em;">
							<tbody>
								<tr>
									<td>TID: </td>
									<td ng-bind="teamData.id"></td>
								</tr>
								<tr>
									<td>Name: </td>
									<td ng-bind="teamData.name"></td>
								</tr>
								<tr>
									<td>Members: </td>
									<td ng-bind="teamData.members.length"></td>
								</tr>
								<tr>
									<td>Servers: </td>
									<td ng-bind="teamData.added.length"></td>
								</tr>
								<tr>
									<td>APIs: </td>
									<td ng-bind="teamData.apis"></td>
								</tr>
								<tr>
									<td>Blocked: </td>
									<td ng-bind="teamData.block"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
