<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">User Page</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a ui-sref="dashboard.home" class="active">Home</a></li>
				<li class="active">User</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<div class="panel panel-inverse">
				<div class="panel-heading text-center">Containers</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="table-responsive" ng-show="userData.containers.length">
							<table class="table color-table">
								<thead>
									<tr>
										<th>#</th>
										<th>ID</th>
										<th>Domain</th>
										<th>Stack</th>
										<th>Status</th>
										<th>CPU</th>
										<th>RAM</th>
										<!-- <th>View</th> -->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="x in userData.containers">
										<td>{{ x.no+1 }}</td>
										<td>{{ x._id }}</td>
										<td>
											<a ng-if="x.dns.custom" class="text-white" target="_blank" href="https://{{x.dns.name}}">
												{{x.dns.name}}
											</a><br ng-if="x.dns.custom">
											<a class="text-white" target="_blank" href="https://{{x.name+subDomain}}">
												{{x.name+subDomain}}
											</a>
										</td>
										<td>{{ x.image }}</td>
										<td class="{{x.stats.cpu==-1?'text-danger':'text-success'}}">
											<b ng-show="x.stats">
												<i class="fa fa-circle"></i>&emsp;{{ x.stats.cpu==-1?'STOPPED':'RUNNING' }}
											</b>
											<b ng-hide="x.stats">Querying..</b>
										</td>
										<td>{{ x.stats.cpu }}%</td>
										<td>{{ x.stats.ram }}%</td>
										<!-- <td>
											<a ui-sref="dashboard.manage({containerId:x._id})">
												<button type="button" class="btn btn-circle btn-danger">
													<i class="fa fa-gear"></i>
												</button>
											</a>
										</td> -->
									</tr>
								</tbody>
							</table>
						</div>
						<h2 class="text-center" ng-show="!userData.containers.length">No Container's created</h2>
					</div>
				</div>
			</div>
			<div class="panel panel-inverse">
				<div class="panel-heading text-center">Databases</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="table-responsive" ng-show="userData.databases.length">
							<table class="table color-table">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>DB Type</th>
										<th>DB Name / User</th>
										<th>DB Type</th>
										<th>Usage</th>
										<!-- <th>View</th> -->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="x in userData.databases">
										<td>{{ x.no+1 }}</td>
										<td>{{ x.name }}</td>
										<td>{{ x.dbType == 'mysql' ? 'MySQL' : 'MongoDB' }}</td>
										<td>{{ x._id }}</td>
										<td>{{ x.dbType }}</td>
										<td>{{ 0 }}%</td>
										<!-- <td>
											<a ui-sref="dashboard.manage({containerId:x._id})">
												<button type="button" class="btn btn-circle btn-danger">
													<i class="fa fa-gear"></i>
												</button>
											</a>
										</td> -->
									</tr>
								</tbody>
							</table>
						</div>
						<h2 class="text-center" ng-show="!userData.databases.length">No Databases's created</h2>
					</div>
				</div>
			</div>
			<div class="panel panel-inverse text-center">
				<div class="panel-heading">Manage</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="delUser()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-close fa-2x"></i></h3>
									<h3 class="text-danger">Delete</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-show="userData.conf.block">
							<a href="javascript:void(0)" ng-click="unBlockUser()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-user-plus fa-2x"></i></h3>
									<h3 class="text-danger">Unblock</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-show="!userData.conf.block">
							<a href="javascript:void(0)" ng-click="blockUser()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-user-times fa-2x"></i></h3>
									<h3 class="text-danger">Block</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="openModal('changeLimit')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-exclamation fa-2x"></i></h3>
									<h3 class="text-danger">Limit</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a ui-sref="dashboard.userActivity({userId:userId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-list fa-2x"></i></h3>
									<h3 class="text-danger">Activity</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="panel panel-inverse">
				<div class="panel-heading text-center">User Info</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<table class="table table-borderless server-info" style="font-size: 1em;">
							<tbody>
								<tr>
									<td>UID: </td>
									<td ng-bind="userData._id"></td>
								</tr>
								<tr>
									<td>Email: </td>
									<td ng-bind="userData.email"></td>
								</tr>
								<tr>
									<td>Containers: </td>
									<td>{{userData.containers.length + ' / ' + userData.conf.limit.containers}}</td>
								</tr>
								<tr>
									<td>Databases: </td>
									<td>{{userData.databases.length + ' / ' + userData.conf.limit.databases}}</td>
								</tr>
								<tr>
									<td>Verified: </td>
									<td ng-bind="userData.conf.verified"></td>
								</tr>
								<tr>
									<td>Plan: </td>
									<td>{{userData.conf.plan?userData.conf.plan:'None'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="changeLimit" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Change Container Limit</h2>
			</div>
			<div class="modal-body text-white">
				<form class="form-horizontal" name="changeLimitForm">
					<div class="form-group" ng-init="changeLimitForm.serviceId=1">
						<label>Database Type: *</label>
						<select class="form-control" ng-model="changeLimitForm.serviceId" required>
							<option ng-value="1">Containers</option>
							<option ng-value="2">Databases</option>
						</select>
						<span class="help-block">Choose the type of database to be created.</span>
					</div>
					<div class="form-group">
						<label>Enter limit: *</label>
						<input type="number" class="form-control" ng-model="changeLimitForm.limit" ng-init="changeLimitForm.limit=0"
						 required>
						<span class="help-block">Current limit is: {{userData.conf.limit}}</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
				<button type="button" id="btnLoad" class="btn btn-danger waves-effect" ng-disabled="changeLimitForm.limit < 0"
				 data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" ng-click="changeLimit(changeLimitForm.serviceId,changeLimitForm.limit)">Change</button>
			</div>
		</div>
	</div>
</div>