<h2 ng-show="homeData.info.set">Edit Profile</h2>
<h2 ng-show="!homeData.info.set">Set your profile information to continue further.</h2>
<form name="profileForm" class="form-horizontal" ng-submit="editProfile()">
	<div class="form-group">
		<label>Email address: *</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
			<input type="email" class="form-control" ng-model="homeData.email" placeholder="Enter email" disabled>
		</div>
	</div>
	<div ng-show="homeData.info.set==false">
		<div class="form-group">
			<label>Name: *</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-user"></i></div>
				<input type="name" class="form-control" ng-model="user.name" placeholder="Enter name" required ng-minlength="2">
			</div>
		</div>
		<div class="form-group">
			<label>Address: *</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
				<input type="name" class="form-control" ng-model="user.address" placeholder="Enter address" required ng-minlength="2">
			</div>
		</div>
		<div class="form-group">
			<label>City: *</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
				<input type="name" class="form-control" ng-model="user.city" placeholder="Enter city" required ng-minlength="2">
			</div>
		</div>
		<div class="form-group">
			<country-state-select country="user.country" state="user.state"></country-state-select>
		</div>
		<div class="form-group text-center m-t-20">
			<div class="col-xs-12">
				<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" id="btnLoad" data-loading-text="<i class='fa fa-spinner fa-spin '>
				</i> Submitting" type="submit" ng-disabled="profileForm.$invalid">Save</button>
			</div>
		</div>
	</div>
</form>
<form class="form-horizontal">
	<div ng-show="homeData.info.set==true">
		<div class="form-group">
			<label>Name: *</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-user"></i></div>
				<input type="name" class="form-control" ng-model="homeData.info.name" placeholder="Enter name" required ng-minlength="2" disabled>
			</div>
		</div>
		<div class="form-group">
			<label>Address: *</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
				<input type="name" class="form-control" ng-model="homeData.info.address" placeholder="Enter address" required ng-minlength="2" disabled>
			</div>
		</div>
		<div class="form-group">
			<label>City: *</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
				<input type="name" class="form-control" ng-model="homeData.info.city" placeholder="Enter city" required ng-minlength="2" disabled>
			</div>
		</div>
		<div class="form-group">
			<label>State: *</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
				<input type="name" class="form-control" ng-model="homeData.info.state" placeholder="Enter city" required ng-minlength="2" disabled>
			</div>
		</div>
		<div class="form-group">
			<label>Country: *</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
				<input type="name" class="form-control" ng-model="homeData.info.country" placeholder="Enter city" required ng-minlength="2" disabled>
			</div>
		</div>
		<h2>Your Profile information is already set, to change it open support ticket.</h2>
	</div>
</form>
