<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Home Page</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a ui-sref="dashboard.servers" ng-click="comingSoon()" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Server</a>
			<ol class="breadcrumb">
				<li class="active">Home</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="white-box">
				<h3 class="box-title">SERVERS</h3>
				<ul class="list-inline two-part">
					<li><i class="fa fa-server text-danger"></i></li>
					<li class="text-right"><span ng-bind="homeData.stats.added"></span></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="white-box">
				<h3 class="box-title">TEAMS</h3>
				<ul class="list-inline two-part">
					<li><i class="fa fa-users text-danger"></i></li>
					<li class="text-right"><span ng-bind="homeData.teams.length"></span></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="white-box">
				<h3 class="box-title">Credits</h3>
				<ul class="list-inline two-part">
					<li><i class="fa fa-usd text-danger"></i></li>
					<li class="text-right"><span ng-bind="homeData.stats.credits"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<h1 ng-show="homeData.block">Your account is blocked, contact support to know more information !!</h1>
	<div class="row" ng-hide="homeData.block">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<a href="javascript:void(0)" ng-click="openModal('addServer')">
				<div class="white-box text-center bg-info server">
					<h1 class="text-white">Add Server</h1>
					<h1 class="text-white" style="padding-top:5px;"><i class="fa fa-server"></i></h1>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="x in homeData.added" ng-show="homeData.added">
			<a ui-sref="dashboard.manage({ serverId: x._id })">
				<div class="white-box text-center server bg-danger">
					<div class="ribbon ribbon-right">
						<h5 class="text-white">Status: <i class="fa fa-dot-circle-o fa-blink" ng-class="{'text-success': x.monitorLogs.isReachable == true, 'text-red': x.monitorLogs.isReachable == false}"></i> {{x.monitorLogs.isReachable==true?'UP':'DOWN'}}</h5>
					</div>
					<h3 class="box-title text-left text-white" ng-bind="x.name"></h3>
					<h1 class="text-white ip" ng-bind="x.ip"></h1>
					<p class="text-right text-white" ng-bind="x.os"></p>
				</div>
			</a>
		</div>
	</div>
</div>
<div id="addServer" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<i class="fa fa-plus-square modal-icon"></i>
				<h2 class="modal-title">Add Server</h2>
			</div>
			<div class="modal-body text-white">
				<form class="form-horizontal" name="addServerForm">
					<div class="form-group">
						<label>Server Name: *</label>
						<input type="text" class="form-control" ng-model="addServerForm.name" placeholder="My Server" required>
						<span class="help-block">Enter desired server name</span>
					</div>
					<div class="form-group">
						<label>IP: *</label>
						<input type="text" class="form-control" ng-model="addServerForm.ip" placeholder="192.168.0.1" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">
						<span class="help-block">Enter server ip</span>
					</div>
					<div class="form-group">
						<label>Port: *</label>
						<input type="text" class="form-control" ng-init="addServerForm.port='22'" ng-model="addServerForm.port" required>
						<span class="help-block">Enter port to connect from or leave it as 22</span>
					</div>
					<div class="form-group">
						<label>Login name: *</label>
						<input type="text" class="form-control" ng-init="addServerForm.uname='root'" ng-model="addServerForm.uname" required>
						<span class="help-block">Enter login name or leave it as root</span>
					</div>
					<div class="form-group" ng-init="addServerForm.authType='1'">
						<label>Authentication Type: *</label>
						<select class="form-control" ng-model="addServerForm.authType" required>
							<option value="1">Password</option>
							<option value="2">Public Key File</option>
						</select>
					</div>
					<div class="form-group" ng-show="addServerForm.authType==1">
						<label>Login password: *</label>
						<input type="password" class="form-control" ng-model="addServerForm.password" required>
						<span class="help-block">Enter login password (We will keep it secret)</span>
					</div>
					<div class="form-group" ng-show="addServerForm.authType==2">
						<label>Private Key : *</label>
						<input type="file" ngf-select ng-model="addServerForm.password" name="file" ngf-pattern="'.pem'" accept=".pem" ngf-max-size="1MB">
						<span class="help-block">Upload your private key (.pem) file</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
				<button type="button" id="btnLoad" class="btn btn-danger waves-effect" ng-disabled="addServerForm.$invalid" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" ng-click="addServer()">Create</button>
			</div>
		</div>
	</div>
</div>
