<section id="wrapper" style="background: radial-gradient(ellipse at center, #061a33 0%, #000000 100%)">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 hidden-xs" style="height: 100vh;z-index:1;">
			<!-- <img src="../img/omnia.png" width="128px" height="128px" /> -->
			<div class="stars-wrapper" id="scene">
				<div class="layer" data-depth="0.00"></div>
				<div class="stars-cluster stars-cluster-1 layer" data-depth="0.30">
					<div ng-repeat="n in [] | range:40" class="star star-{{$index}}"></div>
				</div>
				<div class="stars-cluster stars-cluster-2 layer" data-depth="0.50">
					<div ng-repeat="n in [] | range:40" class="star star-{{$index}}"></div>
				</div>
				<div class="stars-cluster stars-cluster-3 layer" data-depth="0.90">
					<div ng-repeat="n in [] | range:15" class="star star-{{$index}}"></div>
				</div>
			</div>
			<div id="Clouds">
				<div class="Cloud Foreground"></div>
				<div class="Cloud Background"></div>
				<div class="Cloud Foreground"></div>
				<div class="Cloud Background"></div>
				<div class="Cloud Foreground"></div>
				<div class="Cloud Background"></div>
				<div class="Cloud Background"></div>
				<div class="Cloud Foreground"></div>
				<div class="Cloud Background"></div>
				<div class="Cloud Background"></div>
			</div>
			<div class="wrapper">
				<div class="opt">
					<img src="../img/logo.png" width="60px" height="60px" />
				</div>
				<div class="moon">
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="z-index: 2;">
			<div class="ribbon ribbon-bookmark ribbon-left ribbon-danger">Beta</div>
			<div class="login-box m-t-10" style="background-color: inherit;">
				<div class="white-box" style="background-color: inherit;">
					<form name="loginForm" ng-submit="loginUser()">
						<a href="javascript:void(0)" class="text-center db"><img src="../img/logo.png" alt="Home" height="80px" />
							<h2>Optimus Deploy</h2>
						</a>
						<h3 class="box-title m-b-10">Login</h3>
						<div class="form-group m-b-10">
							<label>Email address: *</label>
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
								<input type="email" class="form-control" ng-model="user.email" placeholder="Enter email" required>
							</div>
						</div>
						<div class="form-group m-b-10">
							<label>Password: *</label>
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-lock"></i></div>
								<input type="password" class="form-control" ng-model="user.password" placeholder="Enter password" required
								 ng-minlength="8">
							</div>
						</div>
						<a ui-sref="forgotPassword">
							<p>Forgot password?</p>
						</a>
						<a ui-sref="sendEmailVerification">
							<p>Resend Email Activation?</p>
						</a>
						<div class="form-group text-center">
							<div class="col-xs-12">
								<p>Don't have an account? <a ui-sref="register" class="m-l-5"><b>Register</b></a></p>
								<button class="btn btn-info btn-block text-uppercase" id="btnLoad" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting"
								 type="submit" ng-disabled="loginForm.$invalid">
									<span class="pull-left"><i class="fa fa-envelope"></i></span>Login with Email
								</button>
								<h5>OR</h5>
								<a href="{{social.google.link()}}" class="btn btn-googleplus btn-block text-uppercase">
									<span class="pull-left"><i class="fa fa-google"></i></span>Login with Google
								</a>
								<a href="{{social.github.link()}}" class="btn btn-github btn-block text-uppercase">
									<span class="pull-left"><i class="fa fa-github"></i></span>Login with Github
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>