<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Manage Server</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a ui-sref="dashboard.servers" ng-click="comingSoon()" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Server</a>
			<ol class="breadcrumb">
				<li><a ui-sref="dashboard.home" class="active">Home</a></li>
				<li class="active">Manage</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="alert alert-success text-center" ng-show="msgboardStatus">
				<h1 class="text-white">{{serverData.msgboard.msg}}</h1><br /><b>Time Left: {{time}} seconds</b></div>
			<div class="panel panel-inverse" ng-show="!msgboardStatus">
				<div class="panel-heading text-center">Metrics
					<div class="pull-right"><a href="javascript:void(0)"><i class="fa fa-code" style="font-size:20px" ng-click="openModal('copyEmbed')"></i></a></div>
				</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div id="container" ng-show="serverData.seriesOptions[0].data.length>=2"></div>
						<h2 class="text-center" ng-hide="serverData.seriesOptions[0].data.length>=2">No Data to Display</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="!msgboardStatus">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center">
			<div class="panel panel-inverse blockUI">
				<div class="panel-heading">Basic Control</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="exec(1)">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-refresh fa-2x"></i></h3>
									<h3 class="text-danger">Restart</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="exec(2)">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-at fa-2x"></i></h3>
									<h3 class="text-danger">Hostname</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="exec(3)">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-upload fa-2x"></i></h3>
									<h3 class="text-danger">Update</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="openModal('alerts')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-exclamation-triangle fa-2x"></i></h3>
									<h3 class="text-danger">Alerts</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-inverse blockUI">
				<div class="panel-heading">Stack Installer</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="stack(1)">
								<div class="white-box">
									<img src="images/stack/lamp.png" class="stack">
									<h3 class="text-danger">LAMP</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="stack(2)">
								<div class="white-box">
									<img src="images/stack/mean.png" class="stack">
									<h3 class="text-danger">MEAN</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="stack(3)">
								<div class="white-box">
									<img src="images/stack/django.png" class="stack">
									<h3 class="text-danger">Django</h3>
								</div>
							</a>
						</div>
						<!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="stack(4)">
								<div class="white-box">
									<img src="images/stack/rails.png" class="stack">
									<h3 class="text-danger">Rails</h3>
								</div>
							</a>
						</div> -->
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="stack(5)">
								<div class="white-box">
									<img src="images/stack/tf.png" class="stack">
									<h3 class="text-danger">Tensorflow</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-inverse blockUI">
				<div class="panel-heading">Advanced</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a ui-sref="dashboard.fileManager({serverId: serverId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-cloud-upload fa-2x"></i></h3>
									<h3 class="text-danger">SFTP</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a ui-sref="dashboard.cron({serverId: serverId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-clock-o fa-2x"></i></h3>
									<h3 class="text-danger">CRON</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a ui-sref="dashboard.startupScript({serverId: serverId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-hourglass-start fa-2x"></i></h3>
									<h3 class="text-danger">Startup Script</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a ui-sref="dashboard.terminal({serverId: serverId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-terminal fa-2x"></i></h3>
									<h3 class="text-danger">Terminal</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-inverse">
				<div class="panel-heading">Other</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="delServer()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-close fa-2x"></i></h3>
									<h3 class="text-danger">Delete</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="changeName()">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-at fa-2x"></i></h3>
									<h3 class="text-danger">Name</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a ui-sref="dashboard.serverActivity({serverId: serverId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-list fa-2x"></i></h3>
									<h3 class="text-danger">Activity</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a ui-sref="dashboard.metrics({serverId: serverId})">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-line-chart fa-2x"></i></h3>
									<h3 class="text-danger">Metrics</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="panel panel-inverse">
				<div class="panel-heading text-center">Server Info</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<table class="table table-borderless server-info">
							<tbody>
								<tr>
									<td>Name: </td>
									<td ng-bind="serverData.name"></td>
								</tr>
								<tr>
									<td>IP: </td>
									<td><a href="http://{{serverData.ip}}" target="_blank">{{serverData.ip}}<i class="fa fa-external-link m-l-5"></i></a></td>
								</tr>
								<tr>
									<td>PORT: </td>
									<td ng-bind="serverData.port"></td>
								</tr>
								<tr>
									<td>Status: </td>
									<td><i class="fa fa-dot-circle-o fa-blink" ng-class="{'text-success': serverData.monitorLogs.isReachable == true, 'text-red': serverData.monitorLogs.isReachable == false}"></i> {{serverData.monitorLogs.isReachable==true?'UP':'DOWN'}}</td>
								</tr>
								<tr>
									<td>OS: </td>
									<td ng-bind="serverData.info.os"></td>
								</tr>
								<tr>
									<td>Hostname: </td>
									<td><a href="http://{{serverData.info.hname}}" target="_blank">{{serverData.info.hname}}<i class="fa fa-external-link m-l-5"></i></a></td>
								</tr>
								<tr>
									<td>Crons: </td>
									<td ng-bind="serverData.crons.length"></td>
								</tr>
								<tr>
									<td>Startup Scripts: </td>
									<td ng-bind="serverData.startupScripts.length"></td>
								</tr>
							</tbody>
						</table>
						<h5 ng-show="serverData.metrics.cpu">CPU<span class="pull-right">{{serverData.metrics.cpu}}%</span></h5>
						<div class="progress" ng-show="serverData.metrics.cpu">
							<div class="progress-bar progress-bar-info" aria-valuenow="{{serverData.metrics.cpu}}" aria-valuemin="0" aria-valuemax="100" style="width: {{serverData.metrics.cpu}}%" role="progressbar"></div>
						</div>
						<h5 ng-show="serverData.metrics.d">Disk<span class="pull-right">{{serverData.metrics.d}}%</span></h5>
						<div class="progress" ng-show="serverData.metrics.d">
							<div class="progress-bar progress-bar-info" aria-valuenow="{{serverData.metrics.d}}" aria-valuemin="0" aria-valuemax="100" style="width: {{serverData.metrics.d}}%" role="progressbar"></div>
						</div>
						<h5 ng-show="serverData.metrics.m">RAM<span class="pull-right">{{serverData.metrics.m}}%</span></h5>
						<div class="progress" ng-show="serverData.metrics.m">
							<div class="progress-bar progress-bar-success" aria-valuenow="{{serverData.metrics.m}}" aria-valuemin="0" aria-valuemax="100" style="width: {{serverData.metrics.m}}%" role="progressbar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="copyEmbed" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<i class="fa fa-code modal-icon"></i>
				<h2 class="modal-title">Copy Chart Embed Code</h2>
			</div>
			<div class="modal-body text-white">
				<div class="row">
					<div class="col-md-10">
						<pre class="prettyprint">{{embedCode}}</pre>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-danger btn-circle" ng-click="copySuccess()" clipboard supported="supported" text="embedCode"><i class="fa fa-clone"></i></button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="alerts" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<i class="fa fa-exclamation-triangle modal-icon"></i>
				<h2 class="modal-title">Alerts</h2>
			</div>
			<div class="modal-body text-center">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<h3 class="box-title">CPU</h3>
						<ul class="list-inline two-part" ng-show="serverData.alerts.cpu.enabled">
							<li ng-click="disableAlert(1)"><i class="fa fa-pause text-danger"></i></li>
							<li class="text-right">
								<span>{{serverData.alerts.cpu.val}}%</span>
							</li>
						</ul>
						<form name="cpuForm" class="form-inline row" ng-show="!serverData.alerts.cpu.enabled">
							<br />
							<div class="col-md-4 col-sm-12 col-xs-12">
								<label>Alert %</label>
								<input name="val" type="number" class="form-control" ng-model="val1" placeholder="Limit" required>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12">
								<label>Interval</label>
								<select name="interval" class="form-control" ng-model="int1" ng-init="int1=intervals[2].val" ng-options="x.val as x.name for x in intervals">
								</select>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12"><br />
								<button type="button" ng-click="enableAlert(1, val1, int1)" class="btn btn-danger btn-rounded" ng-disabled="cpuForm.$invalid"><i class="fa fa-play"></i> Enable</button>
							</div>
						</form>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<h3 class="box-title">RAM</h3>
						<ul class="list-inline two-part" ng-show="serverData.alerts.m.enabled">
							<li ng-click="disableAlert(2)"><i class="fa fa-pause text-danger"></i></li>
							<li class="text-right">
								<span>{{serverData.alerts.m.val}}%</span>
							</li>
						</ul>
						<form name="mForm" class="form-inline row" ng-show="!serverData.alerts.m.enabled">
							<br />
							<div class="col-md-4 col-sm-12 col-xs-12">
								<label>Alert %</label>
								<input name="val" type="number" class="form-control" ng-model="val2" placeholder="Limit" required>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12">
								<label>Interval</label>
								<select name="interval" class="form-control" ng-model="int2" ng-init="int2=intervals[2].val" ng-options="x.val as x.name for x in intervals">
								</select>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12"><br />
								<button type="button" ng-click="enableAlert(2, val2, int2)" class="btn btn-danger btn-rounded" ng-disabled="mForm.$invalid"><i class="fa fa-play"></i> Enable</button>
							</div>
						</form>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<h3 class="box-title">ROM</h3>
						<ul class="list-inline two-part" ng-show="serverData.alerts.d.enabled">
							<li ng-click="disableAlert(3)"><i class="fa fa-pause text-danger"></i></li>
							<li class="text-right">
								<span>{{serverData.alerts.d.val}}%</span>
							</li>
						</ul>
						<form name="dForm" class="form-inline row" ng-show="!serverData.alerts.d.enabled">
							<br />
							<div class="col-md-4 col-sm-12 col-xs-12">
								<label>Alert %</label>
								<input name="val" type="number" class="form-control" ng-model="val3" placeholder="Limit" required>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12">
								<label>Interval</label>
								<select name="interval" class="form-control" ng-model="int3" ng-init="int3=intervals[2].val" ng-options="x.val as x.name for x in intervals">
								</select>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12"><br />
								<button type="button" ng-click="enableAlert(3, val3, int3)" class="btn btn-danger btn-rounded" ng-disabled="dForm.$invalid"><i class="fa fa-play"></i> Enable</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
