<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Manage App</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a ui-sref="dashboard.servers" ng-click="comingSoon()" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy
				Server</a>
			<ol class="breadcrumb">
				<li><a ui-sref="dashboard.home" class="active">Home</a></li>
				<li class="active">Manage</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center">
			<div class="panel panel-inverse blockUI">
				<div class="panel-heading">Basic Control</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="exec('restart')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-refresh fa-2x"></i></h3>
									<h3 class="text-danger">Restart</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="exec('stop')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-pause fa-2x"></i></h3>
									<h3 class="text-danger">Stop</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="exec('start')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-play fa-2x"></i></h3>
									<h3 class="text-danger">Start</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="exec('pull')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-git fa-2x"></i></h3>
									<h3 class="text-danger">Pull</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-inverse">
				<div class="panel-heading">Other</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="openModal('delApp')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-close fa-2x"></i></h3>
									<h3 class="text-danger">Delete</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="toast('Soon', 'We are working on it.', 'success')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-globe fa-2x"></i></h3>
									<h3 class="text-danger">DNS</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="toast('Soon', 'We are working on it.', 'success')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-list fa-2x"></i></h3>
									<h3 class="text-danger">Activity</h3>
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="javascript:void(0)" ng-click="toast('Soon', 'We are working on it.', 'success')">
								<div class="white-box">
									<h3 class="text-danger"><i class="fa fa-line-chart fa-2x"></i></h3>
									<h3 class="text-danger">Metrics</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<div class="panel panel-inverse">
				<div class="panel-heading text-center">Server Info</div>
				<div class="panel-wrapper">
					<div class="panel-body">
						<table class="table table-borderless server-info">
							<tbody>
								<tr>
									<td>Domain: </td>
									<td>
										<a class="text-white" target="_blank" href="https://{{appData.nameCustom?appData.name:appData.name+subDomain}}">
											{{appData.nameCustom?appData.name:appData.name+subDomain}}
										</a>
									</td>
								</tr>
								<tr>
									<td>Stack: </td>
									<td ng-bind="appData.image"></td>
								</tr>
								<tr>
									<td>Status: </td>
									<td class="{{appData.stats.cpu==-1?'text-danger':'text-success'}}">
										<b ng-show="appData.stats">
											<i class="fa fa-circle"></i>&emsp;{{appData.stats.cpu==-1?'STOPPED':'RUNNING'}}
										</b>
										<b ng-hide="appData.stats">Querying..</b>
									</td>
								</tr>
								<tr>
									<td>CPU: </td>
									<td>{{ appData.stats.cpu }}%</td>
								</tr>
								<tr>
									<td>RAM: </td>
									<td>{{ appData.stats.ram }}%</td>
								</tr>
								<tr>
									<td>ROM: </td>
									<td>{{ appData.stats.rom }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="delApp" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Delete App</h2>
			</div>
			<div class="modal-body text-white">
				<form class="form-horizontal" name="delAppForm">
					<div class="form-group">
						<label>Enter CONFIRM to delete the application: *</label>
						<input type="text" class="form-control" ng-model="delAppForm.action" required>
						<span class="help-block">Input should be in capital.</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
				<button type="button" id="btnLoad" class="btn btn-danger waves-effect" ng-disabled="delAppForm.action != 'CONFIRM'"
				 data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" ng-click="exec('delete')">Delete</button>
			</div>
		</div>
	</div>
</div>