<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Team API Manager</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a ui-sref="dashboard.servers" ng-click="comingSoon()" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Server</a>
			<ol class="breadcrumb">
				<li><a ui-sref="dashboard.team({teamId: teamId})" class="active">Team</a></li>
				<li class="active">Team API</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-inverse">
			<div class="panel-heading text-center">API Keys</div>
			<div class="panel-wrapper">
				<div class="panel-body">
					<div class="table-responsive" ng-show="apiData.length">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Hits</th>
									<th>Key</th>
									<th>Copy</th>
									<!--									<th>Logs</th>-->
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in apiData">
									<td>{{$index + 1}}</td>
									<td ng-bind="x.name"></td>
									<td ng-bind="x.hits"></td>
									<td ng-bind="x.key"></td>
									<td>
										<button type="button" class="btn btn-circle btn-info" ng-click="copySuccess()" clipboard supported="supported" text="x.key"><i class="fa fa-clone"></i></button>
									</td>
									<!--									<td><button type="button" class="btn btn-circle btn-info" ng-click="openLog(x)"><i class="fa fa-list"></i></button></td>-->
									<td><button type="button" class="btn btn-circle btn-danger" ng-click="delApiKey(x._id)"><i class="fa fa-trash-o"></i></button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h2 class="text-center" ng-show="!apiData.length">No API Key's created</h2>
					<button class="btn btn-danger btn-rounded waves-effect waves-light pull-right" type="button" ng-click="openModal('addApiKey')"><span class="btn-label"><i class="fa fa-plus"></i></span>Add a API Key</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="addApiKey" class="modal bs-example-modal-lg fade" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<i class="fa fa-code modal-icon"></i>
				<h2 class="modal-title">Add a API Script</h2>
			</div>
			<div class="modal-body text-white">
				<div class="row">
					<div class="col-xs-12">
						<form name="apiKeyForm">
							<label>Name: *</label>
							<input class="form-control" type="text" ng-model="apiName" required>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
				<button type="button" id="btnLoad" class="btn btn-danger waves-effect" ng-disabled="apiKeyForm.$invalid" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" ng-click="addApiKey()">Add</button>
			</div>
		</div>
	</div>
</div>
<div id="viewLog" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<i class="fa fa-list modal-icon"></i>
				<h2 class="modal-title">Logs of API Hits</h2>
			</div>
			<div class="modal-body text-white">
				<div class="row">
					<h2 ng-show="!logsData.length">Not enough data</h2>
					<table class="table table-hover margin bottom" ng-show="logsData.length">
						<thead>
							<tr>
								<th>Date</th>
								<th>IP</th>
								<th>Command</th>
								<th>Result</th>
								<th>Error</th>
							</tr>
						</thead>
						<tbody>
							<tr dir-paginate="x in logsData | itemsPerPage: pageSize" current-page="currentPage">
								<td>{{ x.date | date: 'MMM d, y H:mm:ss' }}</td>
								<td>{{ x.ip }}</td>
								<td>{{ x.cmd }}</td>
								<td>{{ x.result }}</td>
								<td>{{ x.error }}</td>
							</tr>
						</tbody>
					</table>
					<div class="pull-right">
						<dir-pagination-controls boundary-links="true" template-url="./plugins/pagination/dirPagination.tpl.html"></dir-pagination-controls>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
