<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Team: {{teamData.name}}</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a ui-sref="dashboard.servers" ng-click="comingSoon()" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Server</a>
            <ol class="breadcrumb">
                <li class="active">Team</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">SERVERS</h3>
                <ul class="list-inline two-part">
                    <li><i class="fa fa-gear text-danger"></i></li>
                    <li class="text-right"><span ng-bind="teamData.added.length"></span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">MEMBERS</h3>
                <ul class="list-inline two-part">
                    <li><i class="fa fa-server text-danger"></i></li>
                    <li class="text-right"><span ng-bind="teamData.members.length"></span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
            <a href="javascript:void(0)" ng-click="openAddMemberModal()">
                <div class="white-box bg-danger server">
                    <h3 class="box-title text-white">Add member</h3>
                    <ul class="list-inline two-part">
                        <li><span><i class="fa fa-plus text-white"></i></span></li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <h1 ng-show="teamData.conf.block">Your team is blocked, contact support to know more information !!</h1>
    <div class="row" ng-hide="teamData.conf.block">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <a href="javascript:void(0)" ng-click="openAddServerModal()">
                <div class="white-box text-center bg-info server">
                    <h1 class="text-white">Add Server</h1>
                    <h1 class="text-white" style="padding-top:5px;"><i class="fa fa-server"></i></h1>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="x in teamData.added" ng-show="teamData.added">
            <a ui-sref="dashboard.tmanage({ teamId: teamId, serverId: x._id })">
                <div class="white-box text-center server bg-danger">
                    <div class="ribbon ribbon-right">
                        <h5 class="text-white">Status: <i class="fa fa-dot-circle-o fa-blink" ng-class="{'text-success': x.monitorLogs.isReachable == true, 'text-red': x.monitorLogs.isReachable == false}"></i> {{x.monitorLogs.isReachable==true?'UP':'DOWN'}}</h5>
                    </div>
                    <h3 class="box-title text-left text-white" ng-bind="x.name"></h3>
                    <h1 class="text-white ip" ng-bind="x.ip"></h1>
                    <p class="text-right text-white" ng-bind="x.os">{{x}}</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row" ng-hide="teamData.conf.block">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="panel panel-inverse">
                <div class="panel-heading text-center">Members</div>
                <div class="panel-wrapper">
                    <div class="panel-body">
                        <div class="table-responsive" ng-show="teamData.members.length">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in teamData.members">
                                        <td>{{$index + 1}}</td>
                                        <td ng-bind="x.email"></td>
                                        <td>{{x.role==1 ? 'admin' : 'user'}}</td>
                                        <td><button type="button" class="btn btn-circle btn-danger" ng-click="delMember(x)" ng-disabled="teamData.role!=1"><i class="fa fa-trash-o"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <div class="panel panel-inverse">
                <div class="panel-heading">Manage</div>
                <div class="panel-wrapper">
                    <div class="panel-body">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <a href="javascript:void(0)" ng-click="delTeam()">
                                <div class="white-box">
                                    <h3 class="text-danger"><i class="fa fa-close fa-2x"></i></h3>
                                    <h3 class="text-danger">Delete</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <a href="javascript:void(0)" ng-click="openModal('viewActivity')">
                                <div class="white-box">
                                    <h3 class="text-danger"><i class="fa fa-list fa-2x"></i></h3>
                                    <h3 class="text-danger">Activity</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addMember" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="fa fa-list modal-icon"></i>
                <h2 class="modal-title">Add new Member</h2>
            </div>
            <div class="modal-body text-white">
                <form class="form-horizontal" name="addMemberForm">
                    <div class="form-group">
                        <label>Email: *</label>
                        <input type="email" class="form-control" ng-model="addMemberForm.email" placeholder="em@i.l" required>
                    </div>
                    <div class="form-group">
                        <label>Role: *</label>
                        <select class="form-control" ng-model="addMemberForm.role" ng-init="addMemberForm.role='user'" ng-options="option for option in type">
						</select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" id="btnLoad" class="btn btn-danger waves-effect" ng-disabled="addMemberForm.$invalid" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" ng-click="addMember()">Create</button>
            </div>
        </div>
    </div>
</div>
<div id="viewActivity" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="fa fa-list modal-icon"></i>
                <h2 class="modal-title">Team Activity</h2>
            </div>
            <div class="modal-body text-white">
                <div class="row">
                    <h2 ng-show="!teamData.logs.length">Not enough data</h2>
                    <table class="table table-hover margin bottom" ng-show="teamData.logs.length">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>User</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="x in teamData.logs | itemsPerPage: pageSize" current-page="currentPage">
                                <td>{{ x.no+1 }}</td>
                                <td>{{ x.date | date: 'MMM d, y H:mm:ss' }}</td>
                                <td>{{ x.user }}</td>
                                <td>{{ x.msg }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <dir-pagination-controls boundary-links="true" template-url="./plugins/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="addServer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="fa fa-plus-square modal-icon"></i>
                <h2 class="modal-title">Add Server</h2>
            </div>
            <div class="modal-body text-white">
                <form class="form-horizontal" name="addServerForm">
                    <div class="form-group">
                        <label>Server Name: *</label>
                        <input type="text" class="form-control" ng-model="addServerForm.name" placeholder="My Server" required>
                        <span class="help-block">Enter desired server name</span>
                    </div>
                    <div class="form-group">
                        <label>IP: *</label>
                        <input type="text" class="form-control" ng-model="addServerForm.ip" placeholder="192.168.0.1" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">
                        <span class="help-block">Enter server ip</span>
                    </div>
                    <div class="form-group">
                        <label>Port: *</label>
                        <input type="text" class="form-control" ng-init="addServerForm.port='22'" ng-model="addServerForm.port" required>
                        <span class="help-block">Enter port to connect from or leave it as 22</span>
                    </div>
                    <div class="form-group">
                        <label>Login name: *</label>
                        <input type="text" class="form-control" ng-init="addServerForm.uname='root'" ng-model="addServerForm.uname" required>
                        <span class="help-block">Enter login name or leave it as root</span>
                    </div>
                    <div class="form-group" ng-init="addServerForm.authType='1'">
                        <label>Authentication Type: *</label>
                        <select class="form-control" ng-model="addServerForm.authType" required>
							<option value="1">Password</option>
							<option value="2">Public Key File</option>
						</select>
                    </div>
                    <div class="form-group" ng-show="addServerForm.authType==1">
                        <label>Login password: *</label>
                        <input type="password" class="form-control" ng-model="addServerForm.password" required>
                        <span class="help-block">Enter login password (We will keep it secret)</span>
                    </div>
                    <div class="form-group" ng-show="addServerForm.authType==2">
                        <label>Private Key : *</label>
                        <input type="file" ngf-select ng-model="addServerForm.password" name="file" ngf-pattern="'.pem'" accept=".pem" ngf-max-size="1MB">
                        <span class="help-block">Upload your private key (.pem) file</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" id="btnLoad2" class="btn btn-danger waves-effect" ng-disabled="addServerForm.$invalid" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" ng-click="addServer()">Create</button>
            </div>
        </div>
    </div>
</div>
