<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Support Center</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a ui-sref="dashboard.servers" ng-click="comingSoon()" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Server</a>
			<ol class="breadcrumb">
				<li><a ui-sref="dashboard.home" class="active">Home</a></li>
				<li><a ui-sref="dashboard.support" class="active">Support</a></li>
				<li class="active">Ticket</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<h2 class="page-title">Ticket : {{ ticketData.sub }}
			<div class="pull-right">Status : {{ ticketData.status }}</div>
		</h2>
		<div class="col-md-12">
			<div class="panel panel-inverse" ng-repeat="x in ticketData.conv">
				<div class="panel-heading" style="padding: 5px 5px 0px 10px;">
					<h4>{{ x.person===true ? 'Staff' : homeData.info.name }}
						<div class="pull-right">{{ x.date | date: 'MMM d, y H:mm:ss' }}</div>
					</h4>
				</div>
				<div class="panel-body">
					<p class="text-white">{{ x.msg }}</p>
				</div>
			</div>
			<form name="ticketReplyForm" class="form-horizontal" ng-show="ticketData.status=='open'">
				<div class="form-group">
					<label>Reply:</label>
					<div class="col-xs-12">
						<textarea class="form-control" ng-model="newReply" placeholder="Enter your reply here..." ng-minlength="1" rows="5" required></textarea>
					</div>
				</div>
				<div class="form-group text-center">
					<button class="btn btn-info btn-lg text-uppercase waves-effect waves-light" id="btnLoad" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" type="submit" ng-disabled="ticketReplyForm.$invalid" ng-click="ticketReply()">Submit Reply</button>
					<button class="btn btn-danger btn-lg text-uppercase waves-effect waves-light" id="btnLoad" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" type="submit" ng-click="closeTicket()">Close Ticket</button>
				</div>
			</form>
			<form class="form-horizontal text-center" ng-show="ticketData.status=='closed'">
				<button class="btn btn-danger btn-lg text-uppercase waves-effect waves-light" id="btnLoad" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Submitting" type="submit" ng-click="reOpenTicket()">Reopen Ticket</button>
			</form>
		</div>
	</div>
</div>
